<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wit Family site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow fixed-header" style="background-color: #191919;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Torn - WIT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/RW-Weapons">RW-Weapons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-page="/RW-Armor">RW-Armor</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Login">Leadership Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="hoverDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Armory
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="hoverDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Armory" asp-route-armorytype="drugs">Drugs</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Armory" asp-route-armorytype="meds">Medical</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Armory" asp-route-armorytype="temps">Temporary</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Armory" asp-route-armorytype="boosters">Booster</a></li>

                                </ul>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-footer" style="background-color : #191919;">
        <div class="container">
            &copy; 2025 - KongBoll - <a href="https://www.torn.com/profiles.php?XID=2813548">Donate a little</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

